/* ========== buttons ========== */
.btn {
  display: flex;
  padding: 9px;
  background: var(--pure-white);
  box-shadow: var(--shadow-dark);
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  align-items: center;
  gap: 0.5rem;
}
.btn:hover {
  box-shadow: 0 0 0 0 transparent;
}
.btn:active {
  box-shadow: inset -4px 8px 16px rgba(0, 0, 0, 0.04);
}

/* --- button icon --- */
.btn.icon {
  --size: 3rem;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  justify-content: center;
  align-items: center;
}
.ButtonIcon {
  width: 2rem;
}

/* --- button white --- */
.btn.white {
  font-size: 20px;
  font-weight: normal;
  padding: 0.5rem 1rem;
  background: var(--pure-white);
  border-radius: 2px;
}
.text-gradient {
  background: var(--main-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
