.Detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.mainGif {
  max-height: 350px;
}
.Gifs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.overlayGradient {
  position: relative;
  cursor: pointer;
}
.overlayGradient::before {
  transition: opacity 0.5s ease-in;
}
.overlayGradient:hover.overlayGradient::before {
  opacity: 0.15;
}
@media screen and (min-width: 640px) {
  .Detail {
    flex-direction: row;
    gap: 20px;
    max-height: 735px;
  }
  .GifContent {
    width: 70%;
  }
  .similarGif {
    width: 30%;
  }
  .Gifs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  /* .medium {
    grid-column: span 2;
  } */
}
