*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: Oswald;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  width: 100%;
  object-fit: cover;
}
:root {
  /*Colors*/
  --main-gradient: linear-gradient(
    348deg,
    #82a0d5 0%,
    #7f88d9 9.09%,
    #8d7cdd 18.18%,
    #a779e1 27.27%,
    #c476e5 36.36%,
    #e573e9 45.45%,
    #ed70cf 54.55%,
    #f06eae 63.64%,
    #f46b8a 72.73%,
    #f86e68 81.82%,
    #fb9366 90.91%,
    #ffbc63 100%
  );
  --black: #0a0102;
  --bg-color: #fbfbfb;
  --shadow-dark: -8px 8px 16px rgba(5, 5, 5, 0.04);
  --pure-white: #fff;

  --padding-body: 0.5rem;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  overflow-x: hidden;
  /* padding: var(--padding-body); */
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1152px;
}


/* ========== tooltips ========== */

.TooltipContainer {
  position: relative;
  max-width: 12rem;
}
.Tooltip {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 0.3rem 0.5rem;
  background: var(--pure-white);
  border-radius: 2px;
  position: absolute;
  white-space: nowrap;
  right: 4rem;
  top: 0.7rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Tooltip::after {
  position: absolute;
  content: "";
  width: 47px;
  height: 12px;
  background: linear-gradient(
    78.3deg,
    rgba(130, 160, 213, 0.5) 5.52%,
    rgba(127, 136, 217, 0.5) 15.03%,
    rgba(141, 124, 221, 0.5) 24.54%,
    rgba(167, 121, 225, 0.5) 34.05%,
    rgba(196, 118, 229, 0.5) 43.55%,
    rgba(229, 115, 233, 0.5) 53.06%,
    rgba(237, 112, 207, 0.5) 62.57%,
    rgba(240, 110, 174, 0.5) 72.08%,
    rgba(244, 107, 138, 0.5) 81.59%,
    rgba(248, 110, 104, 0.5) 91.09%,
    rgba(251, 147, 102, 0.5) 100.6%,
    rgba(255, 188, 99, 0.5) 110.11%
  );
  filter: blur(20px);
  z-index: -1;
}
.Tooltip::before {
  --size: 0.5rem;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  background: var(--pure-white);
  transform: rotate(45deg);
}

/* left */
.Tooltip.left::after {
  top: 1rem;
  left: 1rem;
}

.Tooltip.left::before {
  top: 0.6rem;
  right: -0.3rem;
}

/* right */
.Tooltip.right {
  left: 4rem;
}
.Tooltip.right::before {
  top: 0.6rem;
  left: -0.3rem;
}
.Tooltip.right::after {
  top: 1rem;
  right: 1rem;
}

/* bottom */
.Tooltip.bottom {
  top: 4rem;
  width: 3rem;
  left: 0;
}
.Tooltip.bottom::before {
  top: -0.3rem;
  left: 1.25rem;
}
.Tooltip.bottom::after {
  top: 1.25rem;
  left: 0rem;
}

.TooltipContainer:hover .Tooltip {
  opacity: 1;
}
svg {
  cursor: pointer;
}